.home-coach-slider {
  padding: 2rem 1rem;
  background-color: #f8f9fa;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}


.home-coach-title {
    font-size: 2rem;
    color: #0f172a;
    margin-bottom: 3rem;
    font-weight: 700;
}

.coachSlider-section-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #333;
}

.coach-slide-card {
  background: #fff;
  padding: 1rem;
  margin: 0 0.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.coach-slide-card img {
  width: 100%;
  max-width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-bottom: 1rem;
}

.coach-slide-card h3 {
  font-size: 1.2rem;
  color: #e85d04;
  margin-bottom: 0.5rem;
}

.coach-slide-card p {
  font-size: 0.95rem;
  color: #333;
  margin: 0.2rem 0;
  line-height: 1.4;
}


@media (max-width: 768px) {
  .coach-slide-card {
    max-width: 90%;
    margin: 0 auto; /* ortalama */
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* yatayda ortalar */
    justify-content: flex-start; /* metin yukarıdan başlar */
    text-align: center;
    background: none;
    box-shadow: none;
  }

  .coach-slide-card img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 0.8rem auto; /* resim tam ortada */
    display: block;
  }
  .home-coach-title {
    font-size: 1.35rem;
    margin-top: 15px;
  }
  .home-coach-slider {margin: -40px auto;}
}

@media (max-width: 500px) {
  .coach-slide-card img {
    width: 120px;
    height: 120px;
  }
}
