.order-card {
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  transition: 0.3s ease;
}
h3 {
    justify-content: center;
    padding-bottom: 15px;
}
.order-card:hover {
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.badge {
  padding: 0.3em 0.6em;
  border-radius: 4px;
  font-size: 0.85rem;
  font-weight: 600;
}
.badge-active { background-color: #0ead33; color: white; }
.badge-expired { background-color: #dc3545; color: white; }
.badge-requested { background-color: #fd7e14; color: white; }
.badge-refunded { background-color: #f01607; color: white; }
.badge-failed {background-color: #db0700; color: white;}


.billing-accordion summary {
  cursor: pointer;
  color: #007bff;
  margin-top: 10px;
}
.billing-info {
  margin-top: 10px;
  padding: 10px;
  background: #f8f9fa;
  border-radius: 6px;
  border-left: 4px solid #007bff;
}

.refund-btn {
  background-color: #ffc107;
  color: black;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.2s ease;
}
.refund-btn:hover {
  background-color: #e0a800;
}
.refund-waiting {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #fff3cd; /* sarımsı uyarı tonu */
  border: 1px solid #ffeeba;
  color: #856404;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.coach-info {
  margin-top: 10px;
  padding: 10px;
  background-color: #f1f8e9;
  border-left: 4px solid #8bc34a;
  border-radius: 5px;
}
.coach-info h4 {
  margin: 0 0 6px;
  color: #558b2f;
}
.ordersPage-whatsapp-support-btn {
  display: inline-block;
  margin-top: 12px;
  background-color: #025721;
  color: white;
  padding: 4px 6px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.ordersPage-whatsapp-support-btn:hover {
  background-color: #1ebc59;
}