.why-choose-us-modern {
  position: relative;
  padding: 5rem 1rem;
  background-color: #ffffff;
  text-align: center;
}
.wave-decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.3;
  z-index: 0;
  pointer-events: none;
}
.floating-fish {
  position: absolute;
  bottom: 100px;
  right: 10%;
  z-index: 2;
  animation: swim-left 8s linear infinite;
  pointer-events: none;
  transform: scaleX(-1); /* yönü tersine çevirir */
}

@keyframes swim-left {
  0% {
    transform: scaleX(-1) translateX(80vw) translateY(0);
  }
  50% {
    transform: scaleX(-1) translateX(30vw) translateY(-10px);
  }
  100% {
    transform: scaleX(-1) translateX(-10%) translateY(0);
  }
}
.bubble {
  position: absolute;
  bottom: 80px;
  width: 12px;
  height: 12px;
  background: rgba(173, 216, 230, 0.5); /* açık mavi */
  border-radius: 50%;
  animation: rise 6s infinite ease-in;
  z-index: 1;
  pointer-events: none;
  filter: blur(1px);
}

@keyframes rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(-250px) scale(0.8);
    opacity: 0;
  }
}




.why-choose-us-modern::before {
  top: 0;
  transform: rotate(180deg);
}

.why-choose-us-modern::after {
  bottom: 0;
}

.why-choose-us-modern::before {
  top: 0;
  transform: rotate(180deg);
}

.why-choose-us-modern::after {
  bottom: 0;
}


.modern-title {
  font-size: 2rem;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 3rem;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  background: white;
  border-radius: 5rem;
  padding: 2rem;
  width: 320px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  position: relative;
  z-index: 1;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
  background-color: #aed2e0;
}


.card:hover p {
  color: #f8f8f8; 
}

.card .icon {
  font-size: 2rem;
  color: #e27107;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.2rem;
  color: #00174e;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1rem;
  color: #475569;
  line-height: 1.4;
}


